<div fxLayout="column" fxLayoutAlign="space-around left" >
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Nome" [(ngModel)]="dados.event.name">
      <mat-hint>Digite o nome do evento</mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="40">
      <input matInput placeholder="Data de inicio" [matDatepicker]="myDatepicker" [(ngModel)]="dados.event.beginning_date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #myDatepicker></mat-datepicker>
    </mat-form-field>
      <mat-form-field fxFlex="40">
        <input matInput placeholder="Data fim" [matDatepicker]="myDatepicker1" [(ngModel)]="dados.event.end_date">
        <mat-datepicker-toggle  matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #myDatepicker1></mat-datepicker>
      </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Descrição" [(ngModel)]="dados.event.description"></textarea>
      </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <!--No momento que o usuário selecionar um arquivo disparar change-->
    <input type="file" style="display:none;" (change)="changefile($event)" #fileinput/>
    <button mat-button color="primary" (click)="fileinput.click()" >
      <mat-icon>add_a_photo</mat-icon> Adicionar Foto
    </button>
    <!--<p #ngIf="nomearquivo !=''">
      <strong>Arquivo: {{ nomearquivo }}</strong>
    </p>-->
  </div>


  <br><br>

  <div style="text-align: center">
    <button mat-button color="primary" (click)="save()">OK</button>
    <button mat-button color="warning" (click)="cancel()">Cancelar</button>
  </div>
</div>


